@import "variables";

@mixin pie ($color){
height: 100%;
color:$color;
}

footer{
   @include pie($blanco);
    background-color: black;
    margin: 2em 0em 0em 0em;
    a{
        color:$blanco;
        &:hover{
            color:$blanco;
            
        }
    }
    
}
#carouselExampleIndicators{
    margin:auto;
    width: 80%;
}

li{
    list-style: none;
}
a{
    
    text-align: left;
}
#precio, #nombreProducto{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    color:black;
}
